[Unit]
Description=check_beacon_presence Service
After=multi-user.target

[Service]
User=root
Type=idle
ExecStart=/home/pi/git/BTLE-Presence/check_beacon_presence.py

[Install]
WantedBy=multi-user.target
